<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--connection string points to sql server express instance of database for capture queries-->
    <!--if you want to do the same, you'll need to attach the database to your database-->
    <add name="AWEntities" connectionString="metadata=res://*/AWModel.csdl|res://*/AWModel.ssdl|res://*/AWModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;Initial Catalog=AdventureWorksSuperLT;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>